.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: $color-black;
    color: $color-white;

    main {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;

        img {
            cursor: pointer;
        }

        img:hover {
            opacity: 90%;
        }

        .contacts {
            display: flex;
            align-items: center;
            column-gap: 1rem;

            span {
                font-size: 0.85rem;
                letter-spacing: 2px;
                cursor: pointer;
                font-weight: 500;
            }

            span:hover {
                color:$color-secondary;
            }

            .lineBreak {
                height: 15px;
                width: 1.5px;
                background-color: #333333;
            }
        }
    }
}

/* ----------------------------------------------------- Tablet -------------------------------------------- */
@media (max-width: 1112px) {}

/* ----------------------------------------------------- Mobile -------------------------------------------- */
@media (max-width: 767px) {}